<launch>
  <arg name="pose_topic" default="/base_pose_ground_truth"/>
  <arg name="path_topic" default="/navigation/test_path"/>
  <node pkg="pure_pursuit" type="publish_test_path.py" name="publish_test_path" output="screen">
    <param name="pose_topic" value="$(arg pose_topic)"/>
    <param name="path_topic" value="$(arg path_topic)"/>
  </node>
</launch>
